.wish-list {
  /* Firefox */
  min-height: -moz-calc(100vh - 54px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 54px);
  /* Opera */
  min-height: -o-calc(100vh - 54px);
  /* Standard */
  min-height: calc(100vh - 54px);
}
.most-requested-title {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Verdana', sans-serif;
}
.wishlist-video-card {
  width: 180px;
  //   padding: 0 4px;
  @media screen and (min-width: 601px) {
    width: 194px;
    // padding: 0 8px;
  }
}
.wishlist-video-row {
  display: flex;
  flex-direction: row;
}

.table-container {
  width: 376px;
  padding: 0px 8px 16px 8px;
  margin: 0px auto;
  @media screen and (max-width: 601px) {
    width: 97%;
    padding: 0 0 8px 0;
  }
  @media screen and (min-width: 601px) {
    width: 90%;
    padding: 0 0 16px 0;
  }
  @media screen and (min-width: 1020px) {
    width: 1020px;
  }
}

.search-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  .search-input {
    width: 100%;
    padding: 6px;
  }
  .category-label {
    margin-top: 10px;
  }
  .category-select {
    width: 100%;
  }
}
.search-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  .search-button {
    font-size: 16px;
    @media (min-width: 900px) {
      /* new */
      width: 140px; /* new */
    }
    @media (min-width: 1050px) {
      /* new */
      width: 200px; /* new */
    }
    @media screen and (min-width: 1200px) {
      /* 601px -> 1200px */
      width: 260px; /* 280px -> 260px */
    }
  }
}

.prev-wishlist-icon,
.next-wishlist-icon {
  position: absolute;
  top: 50%; /* Vertically center the buttons */
  transform: translateY(-50%);
  width: 4%;
  height: 10%; /* Adjust the width as needed */
  background-color: rgb(62, 111, 202); /* Background color for buttons */
  border: none; /* Remove button borders */
  color: white; /* Text color for buttons */
  cursor: pointer;
  height: 25%;
  margin: 15px;
  font-size: 25px;
}

.prev-wishlist-icon {
  left: 5%; /* Adjust the left position for smaller screens */
}

.next-wishlist-icon {
  right: 5%; /* Adjust the right position for smaller screens */
}

@media (min-width: 768px) and (max-width: 1150px) {
  .prev-wishlist-icon {
    left: 2%; /* Adjust the left position for medium-sized screens */
  }

  .next-wishlist-icon {
    right: 2%; /* Adjust the right position for medium-sized screens */
  }
}
@media (min-width: 1150px) and (max-width: 1250px) {
  .prev-wishlist-icon {
    left: 4%; /* Adjust the left position for medium-sized screens */
  }

  .next-wishlist-icon {
    right: 4%; /* Adjust the right position for medium-sized screens */
  }
}

@media (min-width: 1300px) {
  .prev-wishlist-icon {
    left: -10%; /* Adjust the left position for larger screens */
  }

  .next-wishlist-icon {
    right: 8%; /* Adjust the right position for larger screens */
  }
}

/* For larger screens (e.g., desktops) */
:root {
  --items-per-page: 4;
}

/* Define your media queries as before */
@media (min-width: 1024px) {
  :root {
    --items-per-page: 4;
  }
}

/* For medium-sized screens (e.g., tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
  :root {
    --items-per-page: 3;
  }
}

/* For small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  :root {
    --items-per-page: 2;
  }
}
@media (max-width: 700px) {
  :root {
    --items-per-page: 1;
  }
}
