.navbar {
  padding: 0;
  z-index: 20;
}

.w3-bar .w3-button {
  padding: 16px;
}

.logo {
  height: 54px;
  padding: 8px 12px 8px 12px;
}

.sidenav {
  background-color: white;
}

.navbar .w3-right .classic-link {
  padding: 10px 12px !important;
  font-size: 15px !important;
}

.navbar .w3-right .w3-bar-item {
  padding: 10px 12px;
}

.navbar .w3-right .classic-link i {
  font-size: 16px !important;
}
