.video-embed-area {
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 10px;
}
.video-youtube {
  height: 100%;
  flex: 95;
}

.video-youtube .rounded {
  height: 100%;
}

.video-youtube iframe {
  height: 100%;
}

.video-player {
  flex: 5;
}

.video-embed-page-main {
  height: 100vh;
}
